// Web UI Panel config
PANEL_USER=admin
PANEL_PASS=your_password
SESSION_SECRET=change-this-to-a-random-string
PANEL_LANG=en

// Proxmox config (Proxmox API Token Authorization)
PROXMOX_HOST=https://127.0.0.1:8006         // your Proxmox Host URL
PROXMOX_USER=username@pam                   // your token created username
PROXMOX_TOKEN_NAME=pve-api-token            // your token name
PROXMOX_TOKEN_SECRET=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx  // your token secret
PROXMOX_NODE=pve_node_00                    // your PVE Node Name
