PANEL_USER=admin
PANEL_PASS=your_password
SESSION_SECRET=change-this-to-a-random-string
PANEL_LANG=en

// Proxmox config
PROXMOX_HOST = 'https://127.0.0.1:8006';
PROXMOX_USER = 'root@pam';
PROXMOX_PASS = 'eD2011sD';
PROXMOX_NODE = 'pve';
